<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chicago</string>
		<key>latitude</key>
		<real>41.9452343</real>
		<key>longitude</key>
		<real>-87.6482463</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Milwaukee</string>
		<key>latitude</key>
		<real>43.0578914</real>
		<key>longitude</key>
		<real>-87.96743</real>
	</dict>
	<dict>
		<key>name</key>
		<string>New York</string>
		<key>latitude</key>
		<real>40.7033121</real>
		<key>longitude</key>
		<real>-73.979681</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Los Angeles</string>
		<key>latitude</key>
		<real>34.0204989</real>
		<key>longitude</key>
		<real>-118.4117325</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Miami</string>
		<key>latitude</key>
		<real>25.782324</real>
		<key>longitude</key>
		<real>-80.2310801</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Seattle</string>
		<key>latitude</key>
		<real>47.614848</real>
		<key>longitude</key>
		<real>-122.3359059</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Houston</string>
		<key>latitude</key>
		<real>29.817178</real>
		<key>longitude</key>
		<real>-95.4012915</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kansas City</string>
		<key>latitude</key>
		<real>39.091919</real>
		<key>longitude</key>
		<real>-94.5757195</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Philadelphia</string>
		<key>latitude</key>
		<real>40.0047528</real>
		<key>longitude</key>
		<real>-75.1180329</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Denver</string>
		<key>latitude</key>
		<real>39.7643389</real>
		<key>longitude</key>
		<real>-104.8551114</real>
	</dict>
</array>
</plist>
